<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Coffee order</title>
        <link rel="stylesheet" href="/private/coffee_order.css">

    </head>

    <body>
    <form th:action="@{/coffee/create_order}" method="post">
        <label for="coffeeType">Coffee</label>
        <select name="coffeeType" id="coffeeType" required>
            <option value="AMERICANO">Americano</option>
            <option value="LATTE">Latte</option>
            <option value="ESPRESSO">Espresso</option>
        </select>

        <label>Condiments</label>
        <input type="checkbox" name="condimentEnum" value="MILK"> Milk
        <input type="checkbox" name="condimentEnum" value="SUGAR"> Sugar

        <button type="submit">Order</button>
    </form>
</body>
</html>
