<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Order snack</title>
    <link rel="stylesheet" href="/private/snack_order.css">

</head>

<body>
<form th:action="@{/snack/create_order}" method="post">
    <label for="snackType">Snack</label>
    <select name="snackType" id="snackType" required>
        <option value="CHEESEPIE">Placinta cu brinza</option>
        <option value="CHOCOLATEDONUT">Donut cu chocolata</option>
    </select>

    <button type="submit">Order</button>
</form>
</body>
</html>
